.header{
    background:white;
}

.header__inner{
        width: 1512px;
        height: 100px;
        gap: 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
}

.header__logo{
    color: #8B7969;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 1512px;
    height: 100px;
}

.contact-form__content {
    background-color: #82756A;
    padding: 30px 15px;
    max-width: 1230px;
}
.contact-form__heading {
    color: #8a847e;
    margin-bottom: 40px;
    text-align: center;
}
.form {
    background-color: #fff;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    margin-bottom: 15px;
    flex-direction: column;
}
.form__label--item {
    color: #000;
    width: 125.91px;
    height: 26px;
    top: 253px;
    left: 274.54px;
    gap: 0px;
    opacity: 0px;
    flex-direction: column;
    align-items: flex-start;
}

.form__error {
    height: 20px;
    color: #fb0202;
    text-align: left;
}
.form__input--text input {
    width: 618.82px;
    height: 38px;
    top: 374px;
    left: 800.57px;
    gap: 0px;
    opacity: 0px;
    flex-direction: colum;
    align-items: flex-start;

}
.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px, 40px, 10px, 40px;
    width: 160px;
    height: 46px;
    border: none;
    border-radius: 3px;
    background: #82756A;;
    color: #fff;
    cursor: pointer;
}